body{
	overflow-x: hidden;
  font-family: avenir;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.wrapper{
	margin: 0 200px 0 80px;
}
#slide{
  animation: slide-in 3s ease;
  position: absolute;
}
@keyframes slide-in{
  from{ transform: translateY(140px); }

  to{ transform: translateY(0px); }
}
.navimg{
	
    background-image: url(../img/tour2.jpg);
    background-size: cover;
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15px;
}
a{
	color: white;
}
.navbar-collapse {
    padding-right: 0px;
}
.search label{
    font-size:0.75em;
    font-weight:bold;
    color:white;
    text-indent:-9999em;
    display:block;
    float:left;

}

.search input[type="text"]{
    text-indent:1px;
    padding:0 0 0 22px;
    height:22px;
    color:black;
    line-height:20px;
    font-weight:bold;
    text-shadow:1px 1px 1px rgba(0,0,0,0.05);
    border-radius:6px;
    box-shadow:1px 1px 0 rgba(0,0,0,0.125);
    cursor:pointer;
     margin-left: -120px;
     margin-right: 16px;
     width:180px;
    outline:none;
    background:url('../img/search.png')2px 2px no-repeat, -webkit-linear-gradient(bottom,rgba(249, 249, 249,0.95) 0%, rgba(249, 249, 249,0.95) 2%, rgba(249, 249, 249,0.95)100%);;
    cursor:text;
}

.search input[type="text"]:focus{
    width:300px;
    outline:none;
    background:url('../img/search.png')2px 2px no-repeat, -webkit-linear-gradient(bottom,rgba(245,245,245,0.95) 0%, rgba(245,245,245,0.95) 2%, rgba(245,245,245,0.95)100%);
    -webkit-box-shadow:1px 1px 0 rgba(255,255,255,0.125);
    cursor:text;
}
.logoimg{
    height: 100px;
    width: 100px;
    margin-top: 30px;

}
.abtcore{
    color: white;
    margin-top: -1px;
}
.abt{
    margin-top: 70px;
    color: white;
}
.image{
	height: 223px;
	width: 100%;
}

a.btn.btn-danger.learnbtn{
	margin-top: 100px;
	margin-right: 20px;
  background: #32808f;
  border: 1px solid #32808f;
   border-radius: 0px!important;

}

 /*.slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }*/

/* start social_icons */
.social_icons {
    margin-top: 20px;
    margin-right: 200px;

}
.social_icons ul{
    margin-bottom: 0;
}
.social_icons ul li{
    text-align:center;
    display:inline-block;
    margin-left: 40px;
}
.social_icons ul li a{
    
    color: #ffffff;
    font-size: 16px;
    height: 36px;
    width: 36px;
    line-height: 36px;
    font-weight: 100;
    
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/*.social_icons li a:hover{
    text-decoration:none;
    color: #1DDECE;
}*/
.wrap2{
    margin-top: 40px;
    background-color:#32808f;
    height: auto;
    margin-left: -30px;
}
footer{
    height: 70px;
    
}
.link {
    color: white;
    margin-top: 30px;
    margin-left: 100px;
}
.fb{
  width: 24px;
  height: 25px;
}
.firstaid{
  width: 24px;
  height: 29px;
}










